/* Универсальный селектор * позволяет прописать стили для всех элементов HTML без исключения. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #585858;
}

/* Селектор */
div {
    color:aqua
}
/* Класс */
.parrent {
    color: red;
    border: 3px solid #000;
}
/* Индификатор */
#id-block {
    background-color: #000;
}
/* Так указываются имена классов к которым нужно применить стиль */
.block1, .block2, .block3 {
    color: aquamarine;
}
/* Так указывается селектор и его класс. К другим селекторам того же класса стиль применен не будет. */
div.blue-block {
    color: blue;
}
/* Действует на прямой дочерний (не на потомков, только дочерний) */
div .orange {
    color: orange;
}

/* Действует на прямой дочерний (не на потомков, только дочерний) */
.parrent .child1 {
    color: violet;
}

/* name - селектор по имени атрибута задает стиль элементу, у которого есть только указанный атрибут тега. */
input[type] {
	background-color: #C2DDFD;
}
/* value - селектор по значению атрибута позволяет выбрать элементы по наличию у них определенного атрибута или его значения и применить к ним нужный стиль. */
input[type="text"] {
	background-color: #c2fdcf;
}
/* start - селектор по началу значения атрибута применяет стиль к элементу, у которого значение атрибута тега начинается с определенного текста. */
a[href^="https://"] {
	color: rgb(234, 255, 0);
}
/* Селекторы наличия и значения атрибута находят все элементы, которые имеют определённый атрибут или значение атрибута. Например, здесь мы выбираем все ссылки, которые начинаются на http://, но не имеют example.com. */
a[href^="http://"]:not([href*="[code.mu](http://code.mu/)"]) {
    color: #ad1d3a;
    text-decoration: none;
  }
/* End - селектор по концу значения атрибута применяет стиль к элементу, у которого значение атрибута тега заканчивается на определенный текст. */
a[href$=".html"] {
	color: rgb(47, 150, 128);
}
/* text - селектор атрибута по тексту применяет стиль к элементу, у которого значение атрибута тега содержит определенный текст. */
a[href*="test"] {
	color: green;
}
/* Variant - cелектор по одному из значений атрибута задает стиль элементу, у которого в атрибуте есть хотя бы одно из указанных значений. При этом все значения атрибута должны быть разделены пробелом. */
p[class~="test"] {
	color: blue;
}
/* hyphen - селектор атрибута по дефису в значении применяет стиль к элементу, значения атрибута которого разделены дефисом. */
p[class|="text1"] {
	color: rgb(141, 23, 147);
}
/* Соседний родственный комбинатор. Выбирает селектор2, перед которым расположен селектор1. селектор1 + селектор2 */
.first + .second {
    color: rgb(222, 108, 108);
  }
/* Дочерний комбинатор. Записывается как селектор1 > селектор2. Выбирает элементы, которые являются прямыми потомками элемента (детьми), подходящего под селектор1. селектор1 > селектор2 */
  .decoration > p {
    color: rgb(163, 232, 16);
  }
/* Общий родственный комбинатор
Записывается как селектор1 ~ селектор2. Выбирает все элементы, которые соответствуют селектор2 и находятся на том же уровне вложенности после элемента селектор1.
Элементы не обязательно должны быть непосредственными соседями, но должны иметь общего родителя.

 */
p ~ p {
    margin-top: 1em;
    color: bisque;
  }
  /* Комбинатор потомка Записывается как селектор1 селектор2.  */

p span {
color: blue;
}